*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    font-family: 'Montsserat', sans-serif;
}

legend {
    font-family: 'Mclaren', sans-serif;
}
a{
    text-decoration: none;
}

.logo {
    font-family: 'Mclaren', sans-serif;
}

.card-title{
    font-family: 'Mclaren', sans-serif;
}