// couleurs personnalisées

$primary: #003049;
$secondary: #e5e5e5;
$danger: #C1121F;
$warning:#FAB12F;


// Typographie personnalisées
$font-family-base: 'Montserrat', sans-serif;
$headings-font-family: 'Mclaren', sans-serif;